# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/

# data
data/raw/
data/processed/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Build artifacts
/build/
dist/
*.zip
lambda-package.zip

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Security - Terraform
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# OS
.DS_Store
Thumbs.db
infra/terraform/terraform.tfvars
